.Board {
  background-color: #cfd3da;
  padding: 10px;
  border-radius: 20px;

  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  .tile {
    background-color: #282c34;
    border: 1px solid black;
    height: 80px;
    flex: 1 0 13%; /* explanation below */
    color: white;
    width: 25px;
    border-radius: 100%;
    margin: 3px;

    &:hover {
      background-color: #121417;
    }

    &.p1 {
      background-color: red;
    }

    &.p2 {
      background-color: blue;
    }
  }

  .hidden {
    display: none;
  }
}
