.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Board-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 0 auto;

    h2 {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}
